html {
    background: #0F2027;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
}

.key {
    cursor: pointer;
    height: 40px;
    width: 80px;
    color: white;
    background: #424242;
    border: none;
    padding: 10px;
    margin: 5px 10px 10px 0px;
    border-radius: 3px;
    font-size: larger;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key:hover {
    /* background-color: red; */
    box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}

.key:active {
    transform: translateY(4px);
}

.ac {
    width: 170px;
    background-color: #FF1744;
}

#calculator {
    margin: 20px auto;
    width: 350px;
    padding: 10px;
    background-color: #212121;
}

.formula {
    background-color: #424242;
    height: 45px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: thin;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
}

[data-key_type="operator"] {
    background-color: #FF9100;
}


.screen {
    text-align: right;
    font-size: larger;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 350px;
    color: #fff;
    padding: 0px 5px;
}

.formula.screen {
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#zero {
    width: 170px;
}

.input {
    background-color: #FF9100;
    height: 30px;
}

#equals {
    position: absolute;
    margin-top: 170px;
    margin-left: 270px;
    height: 95px;
    background-color: #FF6D00;
}

.formula.screen::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.formula.screen::-webkit-scrollbar-piece {
    background-color: #501010;
}

.formula.screen::-webkit-scrollbar {
    height: 5px;
}

.formula.screen::-webkit-scrollbar-thumb:hover {
    background-color: #ff585879;
    border: 1px solid #9c9595;
    border-radius: 10px;
    
}

#toast {
    color: #fff;
    background-color: #212121;
    height: 50px;
    width: 50%;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    border-radius: 4px;
    align-items: center;
    visibility: hidden;
    margin: auto;
    padding: 0 10px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.title {
    color: white;
    display: flex;
    justify-content: center;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}